<!DOCTYPE html>
<html>
	<head>
		<title>Misfit Leaderboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--STYLES-->
		<link rel="stylesheet" href="/styles/angular-chart.css">
		<link rel="stylesheet" href="/styles/bootstrap.css">
		<link rel="stylesheet" href="/styles/importer.css">
		<link rel="stylesheet" href="/styles/leaderboard.css">
		<link rel="stylesheet" href="/styles/ui-grid-stable.css">
		<!--STYLES END-->

	</head>
	<body ng-app="LeaderboardModule" class="row" ng-cloak>
		<div class="col-md-12">
			<div id="header">
				<h1>Leaderboard</h1>
			</div>

			<div class="col-md-6">
				<div id="toolbar">
					<div ng-controller="DropdownCtrl">
					    <div class="btn-group" dropdown is-open="status.isopen">
					      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
					        {{dropdownTxt}}    <span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu" role="menu">
					      	<li ng-repeat="field in fields" ng-click="setDropdownTxt(field)">{{field}}</li>
					      </ul>
					    </div>
					</div>
				</div>
				
				<div id="leaderboardGrid" ng-controller="LeaderboardController">
					<h2>{{dateRange}}</h2>
		  			<div ui-grid="gridOptions" ui-grid-selection class="myGrid"></div>
				</div>
				<p>{{selectedItems}}</p>
			</div>
			<div id="chartHolder" class="col-md-6" ng-controller="ChartCtrl">
				<div google-chart chart="chartObject" style="height:700px; width:100%;"></div>
			</div>
		</div>

		<!--SCRIPTS-->
		<script src="/js/dependencies/sails.io.js"></script>
		<script src="/js/dependencies/angular.min.js"></script>
		<script src="/js/dependencies/d3.min.js"></script>
		<script src="/js/dependencies/jquery-2.1.3.min.js"></script>
		<script src="/js/dependencies/ng-google-chart.js"></script>
		<script src="/js/dependencies/ui-bootstrap-0.12.1.min.js"></script>
		<script src="/js/dependencies/ui-grid.js"></script>
		<script src="/js/public/leaderboard/LeaderboardModule.js"></script>
		<script src="/js/public/leaderboard/LeaderboardController.js"></script>
		<script src="/js/public/leaderboard/ChartCtrl.js"></script>
		<script src="/js/public/leaderboard/DropdownCtrl.js"></script>
		<!--SCRIPTS END-->
	</body>
</html>